# Python bytecode & cache
__pycache__/
**/__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
.env

# PyCharm project files
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
*.tmp
Frontend/Home_ui.py
Frontend/resource_rc.py
Desktop_Application/Frontend/ui-files/ConfirmDialog_ui.py
Desktop_Application/Frontend/resource_rc.py
Desktop_Application/Frontend/ui-files/addAppointmentCard_ui.py
Desktop_Application/Frontend/ui-files/customCalendar_ui.py
Desktop_Application/Frontend/ui-files/appointmentCard_ui.py
Desktop_Application/Frontend/ui-files/duplicateDialog_ui.py
Desktop_Application/Frontend/ui-files/duplicateCard_ui.py
Desktop_Application/Frontend/ui-files/filterSettings_ui.py
Desktop_Application/Frontend/ui-files/firstTime-setup_ui.py
Desktop_Application/Frontend/ui-files/Home_ui.py
Desktop_Application/Frontend/ui-files/loginCard_ui.py
Desktop_Application/Frontend/ui-files/forgotPassNewPass_ui.py
Desktop_Application/Frontend/ui-files/paginationUi_ui.py
Desktop_Application/Frontend/ui-files/PatientCard_ui.py
Desktop_Application/Frontend/ui-files/reminderCard_ui.py
Desktop_Application/Frontend/ui-files/reminderCard_ui.py
Desktop_Application/Frontend/ui-files/petRecordCard_ui.py
Desktop_Application/Frontend/ui-files/schedCard_ui.py
Desktop_Application/Frontend/ui-files/schedCard_ui.py
Desktop_Application/Frontend/ui-files/serviceCard_ui.py
Desktop_Application/Frontend/ui-files/reminderPopUp_ui.py
Desktop_Application/Frontend/ui-files/webAppointmentCard_ui.py
