# Python bytecode & cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
.env
# PyCharm project files
.idea/
*.iml


# OS files
.DS_Store
Thumbs.db

# Qt / PyQt specific (e.g. compiled resource files, build artifacts)
*.pyc

# Others
*.bak
*.swp
*.tmp
